---
http_interactions:
- request:
    method: post
    uri: https://checkout-sandbox.payway.com.kh/api/payment-gateway/v1/payments/check-transaction
    body:
      encoding: UTF-8
      string: hash=MMMtaGu9MfeQ8IfgpdIAo%2FI2Ba1tlXQxr7%2BGeTEik4kpuD2EIxC9fOiQZ11XEYh1vH%2F%2FVTj9PHo%2BIL%2FhtEKMgA%3D%3D&merchant_id=contigoasia&req_time=20240520113104&tran_id=P0BT9GV1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '100000'
      x-ratelimit-remaining:
      - '99994'
    body:
      encoding: ASCII-8BIT
      string: '{"status":0,"description":"approved","amount":55,"totalAmount":55,"apv":"103495","payment_status":"APPROVED","datetime":"2024-05-20
        18:29:46","payout":[{"acc":"070486124","amt":"25.00","acc_name":"*********ount"},{"acc":"111111111","amt":"30.00","acc_name":"*********ount"}]}'
  recorded_at: Mon, 20 May 2024 11:31:05 GMT
recorded_with: VCR 6.2.0
