---
http_interactions:
- request:
    method: post
    uri: https://checkout-sandbox.payway.com.kh/api/merchant-portal/merchant-access/online-transaction/pre-auth-completion
    body:
      encoding: UTF-8
      string: hash=Sk4I%2FtfDXIkEQXT%2FXXJESYf8oCZCn9Iaq94g3kpKLiLUmegJPCuYavMOloXMRUZWgdrjkTXWQouRAe93No2pcA%3D%3D&merchant_auth=aeJtM4LQLhN%2Bri%2B5VcMbPwLI98RItpaXg5jhooEgXVS8RiB%2Bhq6TP4yPqNmVNZ8nb11Da02MLe5Jjirat6vPGVA7T4GySlhX1MFL%2BgbG5ng3qQQYGscZEzjwla6BqwaLe9ZT9bIuNW7AZa3%2B%2FPd3bFOGsBHRItFe7LJ2%2BGGxz2ESr%2BescB65%2BmZfYWs6tZmZhWZFSZsPY4odMZHtZ8Al0uuzeT9vCLb%2FXxVuTHspCrD5vHWsvqLonTwdWFqI4%2F2I%2BWztOevJsCP%2FomjuuTKqSavB4%2BPjs3q6JiqE9f5pqW2xT%2B7CjXKTn6YuiJUq0uk89z3YvF9AbGrDl%2FZjnsrozA%3D%3D&merchant_id=contigoasia&request_time=20250805041644
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '100000'
      x-ratelimit-remaining:
      - '93480'
    body:
      encoding: ASCII-8BIT
      string: '{"grand_total":"30.00","currency":"USD","transaction_status":"COMPLETED","status":{"code":"00","message":"Success!","tran_id":"PW7Q6M5U"}}'
  recorded_at: Tue, 05 Aug 2025 04:16:44 GMT
recorded_with: VCR 6.2.0
