---
http_interactions:
- request:
    method: post
    uri: https://checkout-sandbox.payway.com.kh/api/payment-gateway/v1/payments/check-transaction-2
    body:
      encoding: UTF-8
      string: hash=DDs4OP%2BioHBhkNXQzaRxb1DjGYpiR%2FiCi6u8oLzHNGeOLvryUu%2Fy6ERWbQpLgS2W8NYN2VZC2c%2F6tROYA9IQ%2Fw%3D%3D&merchant_id=contigoasia&req_time=20260320103220&tran_id=PYQPE8T8
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":{"code":5,"message":"wrong hash","tran_id":"PYQPE8T8"}}'
  recorded_at: Fri, 20 Mar 2026 10:32:21 GMT
recorded_with: VCR 6.2.0
