---
http_interactions:
- request:
    method: post
    uri: https://checkout-sandbox.payway.com.kh/api/merchant-portal/merchant-access/online-transaction/pre-auth-cancellation
    body:
      encoding: UTF-8
      string: hash=jGn%2BfGZ28IWwX7SHSIU%2B5DtIDs2xGGHfj%2F%2BVAkwn5RCurWtnBCIM1p9IAV4EJ%2BZSraCyx9yyKz2%2FYtW5Ju2XGw%3D%3D&merchant_auth=EVTEp%2FBBPNBndLybtW9C27lUdCCzz9iWlclfxcKGiT5y0dDjCD8V3xWjDhatNGl8ySQ5XJMJHFOiT0IMQSFArK704%2FvFMaem7YqkNViS00kZbmUZkJeHzTeZ5QMWFzUGOKAgEQr5tzwLFDaHv9hbGP3MgW5%2BUAWRGjDF0ZqqGmw%3D&merchant_id=contigoasia&request_time=20241028094615
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '100000'
      x-ratelimit-remaining:
      - '99716'
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":"PTL59","message":"Unable to complete or cancel Pre
        Auth","tran_id":"PID657AX"}}'
  recorded_at: Mon, 28 Oct 2024 09:46:18 GMT
recorded_with: VCR 6.2.0
