---
http_interactions:
- request:
    method: post
    uri: https://checkout-sandbox.payway.com.kh/api/payment-gateway/v1/payments/check-transaction-2
    body:
      encoding: UTF-8
      string: hash=zeIDpmvJUSdMQXFAKU5t2vihMqrtlPoEruGrEeD4cl06tvxJ1M6YdVNLYh8pbEEeHUpmXZQfE2OcWNrt3boAtA%3D%3D&merchant_id=contigoasia&req_time=20260320120242&tran_id=P2RIKFC2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"payment_status_code":0,"total_amount":2.00,"original_amount":2.00,"refund_amount":0.00,"discount_amount":0.00,"payment_amount":2.00,"payment_currency":"USD","apv":"519556","payment_status":"PRE-AUTH","transaction_date":"2026-03-20
        12:02:43"},"status":{"code":"00","message":"Success!","tran_id":"P2RIKFC2"}}'
  recorded_at: Fri, 20 Mar 2026 05:07:38 GMT
recorded_with: VCR 6.2.0
