---
http_interactions:
- request:
    method: post
    uri: https://checkout-sandbox.payway.com.kh/api/merchant-portal/merchant-access/online-transaction/pre-auth-completion
    body:
      encoding: UTF-8
      string: hash=73vIqIGu2%2BWTpBlgA4iE5jvk9FLPde%2BuLyJIS5hiGrDz0eFNrXFLW2Z7wXNFPYYtgmz9EWAQeGY88B2MyqRLEA%3D%3D&merchant_auth=LwkbhFqW7BFCcLDbVfv%2Bx3858tVat4EeLKAMKX6TI0YahxT9hEbBl3T%2FdEQBlsNo%2FNl4%2F41lYE7ZXqFFtqvc4oSk72NkXkd%2BTrES3IKbpfOA9Kdv5VtrGxPsTJofLrii8RjILIMYgyxbj5rw%2FUcz26wxZ6Km5bNlVbu60Wy5dC4%3D&merchant_id=contigoasia&request_time=20241028084849
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '100000'
      x-ratelimit-remaining:
      - '99511'
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":"PTL59","message":"Unable to complete or cancel Pre
        Auth","tran_id":"P1Y25BRA"}}'
  recorded_at: Mon, 28 Oct 2024 08:48:51 GMT
recorded_with: VCR 6.2.0
