---
http_interactions:
- request:
    method: post
    uri: https://checkout-sandbox.payway.com.kh/api/payment-gateway/v1/payments/check-transaction-2
    body:
      encoding: UTF-8
      string: hash=S2ZfMqrSSIzdZGGcP%2BhqxzDlI%2FZYYhe24scht8nxhSi9Lly8etU8Elt2ImsKxr4EjDlb%2Bh5sUWd6cZQKAjcphw%3D%3D&merchant_id=contigoasia&req_time=20260320120006&tran_id=PR63DW2O
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"payment_status_code":2,"total_amount":2.00,"original_amount":2.00,"refund_amount":0.00,"discount_amount":0,"payment_amount":0.00,"payment_currency":"","apv":"","payment_status":"PENDING","transaction_date":"2026-03-20
        12:00:21"},"status":{"code":"00","message":"Success!","tran_id":"PR63DW2O"}}'
  recorded_at: Fri, 20 Mar 2026 05:02:23 GMT
recorded_with: VCR 6.2.0
