---
http_interactions:
- request:
    method: post
    uri: https://checkout-sandbox.payway.com.kh/api/payment-gateway/v1/payments/check-transaction-2
    body:
      encoding: UTF-8
      string: hash=Er5U8TWYvi84wx6qEeKFOa6bM8HJqnYavrNQWYAR9kdw3XU%2BDFvVphRbC1rCQq9uSB3K8lVXa2%2BX%2FEEk4ef%2BTQ%3D%3D&merchant_id=contigoasia&req_time=20260320045735&tran_id=PD0PM0AX
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":{"code":5,"message":"wrong hash","tran_id":"PD0PM0AX"}}'
  recorded_at: Fri, 20 Mar 2026 04:57:36 GMT
recorded_with: VCR 6.2.0
