---
http_interactions:
- request:
    method: post
    uri: https://checkout-sandbox.payway.com.kh/api/merchant-portal/merchant-access/online-transaction/pre-auth-completion
    body:
      encoding: UTF-8
      string: hash=JzWN2PgtL2bDoMsdIajveUdCLKxdCCzEiOPIRvW0TR2O2gAIYdBU6FCTYoB65egTdDVDcFzMOGk859sHRTK1Rw%3D%3D&merchant_auth=EHA%2FHdMaMH8YNywY8X14h21ki%2FeVHeK7BsJhFKRSWobpWe3GxZxJZMSfZRDmeCq0kAld%2BX6ura5VOfKXwaZQH735cSNSBEg3xLpXCHzc5cu3E%2BT0kDbS34dSw0jPo6YEZ74Q9GLN9MMWkZHpgxTKwpDsIduLVaEigjhkVk%2FuNbU%3D&merchant_id=contigoasia&request_time=20241028084238
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '100000'
      x-ratelimit-remaining:
      - '99725'
    body:
      encoding: ASCII-8BIT
      string: '{"grand_total":"29.99","currency":"USD","transaction_status":"COMPLETED","status":{"code":"00","message":"Success!","tran_id":"P1Y25BRA"}}'
  recorded_at: Mon, 28 Oct 2024 08:42:40 GMT
recorded_with: VCR 6.2.0
