---
http_interactions:
- request:
    method: post
    uri: https://checkout-sandbox.payway.com.kh/api/merchant-portal/merchant-access/online-transaction/pre-auth-cancellation
    body:
      encoding: UTF-8
      string: hash=IeCQ%2FR4Jdpw43W8UwduYzYl2TmK6PsW7Dsi7KJjfes%2BHjM%2BXMQ2Qp6oY2EXlLKmY88SYHtyHpNw8PBZwNuDvKg%3D%3D&merchant_auth=K10QXI1zoL%2Biyh5VO3BOBaxxHXjSAkG0AxtaBeb6lPOs4%2BrCC83gf85caW34zxkdmfV2wB5civz274qYz0MAGDnbtPUvc7F3tlIU1PipdhiebZqsQqrdgUqmn%2BYAOB91yLzAbBsMxlG4IvW%2FPbzbJw4A461w1wANtked67Vwti4%3D&merchant_id=contigoasia&request_time=20241028094300
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '100000'
      x-ratelimit-remaining:
      - '99888'
    body:
      encoding: ASCII-8BIT
      string: '{"grand_total":"30.00","currency":"USD","transaction_status":"CANCELLED","status":{"code":"00","message":"Success!","tran_id":"PID657AX"}}'
  recorded_at: Mon, 28 Oct 2024 09:43:01 GMT
recorded_with: VCR 6.2.0
