---
http_interactions:
- request:
    method: post
    uri: https://checkout-sandbox.payway.com.kh/api/merchant-portal/merchant-access/online-transaction/pre-auth-cancellation
    body:
      encoding: UTF-8
      string: hash=gfTZJTFq%2B0TXfOFaGHBWoAy1%2BA8ufMhLE08c54fUDsJMtG%2BFgm1r66SpL50gDdvUFFP8kbHx7ZSSXlKWdNsFfg%3D%3D&merchant_auth=MMVbuVhGq4aNZ%2FR6KoTWWJs05XbeDEXDGzbLbMpkwN96vkZbwDbblGHvplQupndj64Kq7BqxXNZGhcRpGRJSVW4bUBk%2BF9R5dFmSUa0A%2F09PA3NvMEDcRlZuJJ07Lc1Xf6h8aNy4eEytvmtMn2%2FinmbbNxNAauqPP4Fzaio1stc%3D&merchant_id=contigoasia&request_time=20241028094551
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '100000'
      x-ratelimit-remaining:
      - '99836'
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":"PTL36","message":"Invalid Transaction","tran_id":"1730108752615609"}}'
  recorded_at: Mon, 28 Oct 2024 09:45:53 GMT
recorded_with: VCR 6.2.0
