<!-- return back when user choose payway getway and click on the continue button  -->
<form method="POST" target="aba_webservice" action="<%=@client_redirect.action_url%>" id="aba_merchant_request">
  <% @client_redirect.gateway_params.each do |key, value| %>
    <div style='padding: 5px;' class="clearfix;">
      <%=label_tag key, key, style: 'float: left; width: 100px;' %>
      <%= text_field_tag key, value, size: 120, style: 'margin-left: 110px;' %>
    </div>
  <% end %>
  <button type="submit" id='aba_btn'> Submit </button>
</form>